/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$url-imagens: 'http://localhost:3000/';

@function getConfigImagemCategoria($imagem){
    @return url($url-imagens + $imagem) no-repeat center;
}

@mixin img-categoria($imagem){
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 0;
    background: url($url-imagens + $imagem) no-repeat center;
    background-size: cover;
}
.clearList {
    list-style: none;
}

.img-raquete{
    @include img-categoria('img-raquete.png');
}